

table{
	text-shadow:-1px -1px 0px #E6CAFF; 
	background: rgba(216,216,216,0.1);
	border-radius:25px;
	text-align: center;
	position: absolute;
	top: 30%;
	left:50%;
	transform:translateX(-50%); 
}
.container{
	margin-top: 10%;
	
}
#o2{
	/*margin:0px,0px,0px,0px;*/
	left: 50px;
}

#exampleInputEmail1,#exampleInputPassword1{
	width: 250px;
	border-color:#F5A9BC;
	background-color: #FAFAFA;
	background: rgba(255,216,216,0.1);
}
 body{
	height: 100%;
}
.coco{
	width:100%;
	height:100%;
	position:absolute;
	background-image:url("../photo/timg.jpg");
	background-size:cover;
	/*background-size:fixed;*/
} 
#ooxxx{
	width:400px;
}
td{
	padding: 5px;
}

